@model Dog
<h1>Cool page for Dog#@Model.DogId</h1>
<hr>
<h4>Name:</h4>
<p>@Model.Name</p>

<h4>Breed:</h4>
<p>@Model.Breed</p>

<h4>Weight:</h4>
<p>@Model.Weight</p>

<h4>Date Created:</h4>
<p>@Model.CreatedAt</p>